DATABASE_URL="postgresql://postgres.[ref]:SENHA@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[ref]:SENHA@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="gere-uma-string-aleatoria-de-64-caracteres"
APP_URL="https://sistema.labscienceacademy.com"
